/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.div-container {
    width:600px;
    /*margin:0 auto;*/
}

.row.div-container {
    line-height:24pt;
    border: solid 1px black;
}

div.div-container > div:nth-of-type(odd) {
    background: #e0e0e0;
}
.button {
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    width: 360px;
}
.logo {
    height: 50px;
    float: left;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Set width on the form input elements since they're 100% wide by default */
input.form-control.col-md-8.dish {
    max-width: 280px;
}

.dish > select {
    max-width: 280px;
}

.dish > textarea {
    max-width: 280px;
}
/*Bootstrap Overrides*/

.dish .navbar-inverse {
    background-color: white;
    border-color: royalblue;
}
.navbar-inverse .navbar-nav >li >a {
    color:black
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: black;
        background-color: transparent;
    }

/*.navbar-inverse .navbar-nav > li > a :hover {
    color: black !important
}*/
.navbar-inverse .navbar-brand {
    color: black;
    font-weight: bolder;
}
#searchAccounts {
    width: 300px;
}
footer {
    position: absolute;
  margin-top: 200px; /* negative value of footer height */
  /*height: 180px;*/
  clear: both;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.top-border {
    border-color: royalblue;
    border-style: solid;
    border-radius: 10px;
    height: 350px;

}

.info-border {
    border-color: royalblue;
    border-style: solid;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    /*height: 350px;*/
}

.lab-bold {

    font-weight: bold;
}

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 240px;
    height: 240px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.center {
    margin: auto;
    /*width: 60%;*/
    /*border: 3px solid #73AD21;*/
    /*padding: 10px;*/
}