/* margin-top: 50px; margin-left: 80px; */

h2.vivint-gift {
    margin-top: 50px;
}

span.vivint-gift.input-group-addon {
    background-color: #ff8200; 
    cursor: pointer; 
    font-weight: bold;
}

/* .vivint-gift.navbar-inverse {
    border-bottom: 1px solid #ffb466;
    background-color: #ff8200; 
} */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.div-container {
    width: 600px;
    /*margin:0 auto;*/
}

.btn-orange {
    background-color: #ff8200;
    color: white;
    font-weight: bold;
    padding: 8px;
    letter-spacing: .5px;
}

    .btn-orange:hover {
        background-color: #ffbe7a;
        color: #3f3f3f !important;
        border: 1px dotted #ff8200
    }

.btn-orange-light {
    background-color: #ffbe7a;
    color: #3f3f3f !important;
    border: 1px dotted #ff8200;
    font-weight: bold;
    padding: 8px;
    letter-spacing: .5px;
}

    .btn-orange-light:hover {
        background-color: #ff8200;
        color: white !important;
    }

.btn-green {
    background-color: #64dba1;
    color: white;
    font-weight: bold;
    padding: 8px;
    letter-spacing: .5px;
}

    .btn-green:hover {
        background-color: #D5FFEA;
        color: #3f3f3f !important;
        border: 1px dotted #64dba1;
    }

.btn-cancel {
    background-color: #a00000;
    color: white;
    font-weight: bold;
    padding: 8px;
    letter-spacing: .5px;
}

    .btn-cancel:hover {
        background-color: #fc3c3c;
        border: 1px dotted #a00000;
        color: white;
    }

.btn-or {
    background-color: white;
    border-color: #ff8200;
    border-width: 2px;
    color: black;
    font-weight: bold;
}

    .btn-or:hover {
        background-color: #ff8200;
        color: #2e2e2e;
    }

.table-no-border th {
    border: none !important;
    text-align: center;
}

.row.div-container {
    line-height: 24pt;
    border: solid 1px black;
}

div.div-container > div:nth-of-type(odd) {
    background: #e0e0e0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Bootstrap Overrides*/

.vivint-gift.navbar-inverse {
    background-color: #ff8200;
    border-bottom: 1px solid #ffb466;
}

    .vivint-gift.navbar-inverse .navbar-nav > li > a {
        color: white
    }

    .vivint-gift.navbar-inverse .navbar-brand {
        color: white;
        font-weight: bolder;
    }

#searchAccounts {
    width: 300px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/*Customer info table*/
.customerInfoTable th {
    border: none !important;
    padding: 15px !important;
    font-size: 15px;
    color: #3f3f3f;
}

.customerInfoTable td {
    border: none !important;
    padding: 15px !important;
}

.customerActionBorder {
    border: 3px dotted #D8E1DD;
    border-radius: 25px;
}

.div-container-odd-even > div:nth-of-type(odd) {
    background: #ffbe7a;
}

/* Customize the label (the container) */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .checkboxContainer input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Custom radio btn */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: darkgrey;
    border-radius: 50%;
}

/* Radio btn hover color */
.checkboxContainer:hover input ~ .checkmark {
    background-color: #a9a9a9;
    border: 2px solid #a00000;
}

/* When the radio button is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
    background-color: #a00000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkboxContainer input:checked ~ .checkmark:after {
    display: inline-block;
}

/* Style the indicator (dot/circle) */
.checkboxContainer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/**KENDO*/
.k-content {
    overflow: visible !important;
}
    
.k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
    color: white !important;
    font-size: 17px;
}

/**DatePicker*/
.k-calendar .k-content .k-link {
    color: #FF8200 !important;
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: #3f3f3f !important;
}

.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
    background-color: #D8E1DD !important;
}
/**Active (selected) tab*/
.k-tabstrip-items .k-state-active {
    background-color: #FF8200 !important;
    border: 1px solid #D8E1DD;
    border-bottom: 1px solid #D8E1DD !important;
}

/**Tab item on hover*/
.k-tabstrip-items .k-item.k-state-hover {
    border-bottom: 1.2px dotted #FF8200 !important;
    background: #ffbe7a !important;
}

/**Unclicked tab -default-*/
li.k-item.k-state-default {
    background-color: #ffb466;
    height: 40px;
    width: 250px;
    margin-right: 15px;
    padding-top: 5px;
    font-weight: bold;
    border: 1px solid #D8E1DD;
}

/**Active content box - kendo tabs*/
.k-tabstrip .k-content.k-state-active {
    border: 2px solid #D8E1DD;
}

.k-tabstrip:focus {
    box-shadow: none !important;
}

.boldOrangeCenter {
    text-align: center;
    font-weight: bold;
    color: #ff8200;
}

.loginBox {
    border: .1px solid #ff8200;
    background-color: white;
    -webkit-box-shadow: inset 0 1px 1px rgba(51,51,51,0.2);
    box-shadow: 2px 2px 1px rgba(51,51,51,0.2);
}

.greyLoginTxt {
    margin-left: 20px;
    margin-top: 10px;
    color: #ff8200 !important;
    font-weight: bold
}

    .greyLoginTxt:hover {
        text-decoration: underline #3f3f3f !important;
    }

#actNotFound {
    color: #a00000;
    font-weight: bold;
    margin-left: 80px;
}

.custStatusIcon {
    color: #f20000 !important;
}

@media(max-width: 850px) {
      
     tbody, thead { float: left; }
     thead { min-width: 120px }
     th { margin: 25px !important }
     td,th { display: block }
     table{ margin-bottom: 50px !important;}
 }