<div class="lookup-container center" style="padding: 20px;">
    <button class="btn btn-info" id="show" (click)=helpButton()>Help</button>
    <div id="help" style="display: none;">
        <h4 style="margin: 15px; color: black;">Contact Support</h4>
        <span>
            <strong>
                Phone: <a href="tel:8885214919">888.521.4919</a>
                Support: <a href="mailto:help@vivintbuyout.com">Help@VivintBuyOut.com</a>
                Video: Video PlaceHolder
            </strong>
        </span>
    </div>
</div>
