<div class="row" style="padding: 5px 0 30px;">
    <div class="form-group col-md-2">
        <h4 class="{{user.company}}">Account Search</h4>
        <div id="searchAccounts" class="input-group">
            <input type="text" class="form-control">
            <span class="{{user.company}} input-group-addon">
                <i class="{{user.company}} glyphicon glyphicon-search"></i>
            </span>
        </div>
        <h4 id="actNotFound">{{message}}</h4>
    </div>
   
    <div class="col-md-2" style="display:none">
        <h3 style="margin-left: 15px;" id="program">Expired Stamp</h3>
        <div id="expiredStamp">
            <img src="~/Content/Images/expiredStamp.png" class="cancelStamp"/>
        </div>
    </div>
    <div class="col-md-2" style="display:none">
        <h3 style="margin-left: 15px;" id="program">Approved stamp</h3>
        <div id="approvedStamp">
            <img src="~/Content/Images/approvedStamp.jpg" class="cancelStamp"/>
        </div>
    </div>
    <div class="col-md-2" style="display:none">
        <h3 style="margin-left: 15px;" id="program">Shipped stamp</h3>
        <div id="shippedStamp">
            <img src="~/Content/Images/shippedStamp.png" class="cancelStamp"/>
        </div>
    </div>
    <div class="col-md-2" style="display:none">
        <h3 style="margin-left: 15px;" id="program">Cancelled stamp</h3>
        <div id="cancelStamp">
            <img src="~/Content/Images/stampCancelled.png" class="cancelStamp" style="text-align: right"/>
        </div>
    </div>
    
    
    

</div>
