
<h3 class="vivint-smarthome center" style="padding-top: 50px;">Thank you for being a valued customer!</h3>
<p class="vivint-smarthome  center">You can find, submit and track your Buy Out online. Get started by choosing a link below.</p>

<div class="vivint-smarthome viv-container">
    <div><a href="searchAccount" class="vivint-smarthome button"><i class="far fa-file-alt fa-lg" style="margin: 0 27px"></i>File your Buy Out online </a></div>
    <div><a href="searchAccount" class="vivint-smarthome button"><i class="fas fa-search fa-lg" style="margin: 0 27px"></i>Find your Buy Out</a></div>
    <div><a href="searchAccount" class="vivint-smarthome button"><i class="fas fa-map-pin fa-lg" style="margin: 0 27px"></i>Track your Buy Out</a></div>
</div>

<h3 style="padding: 20px 0 10px; text-align: center; font-weight: bold">How Your Buy Out Works</h3>
<div class="vivint-smarthome center">
    <video poster="~/Content/videoImage.png" id="buyoutVideo" width="900" controls="controls" autoplay="autoplay" loop onclick="this.play();" style="border: 2px solid black;">
        <source src="~/Content/GiftCardBuyoutVideo.mp4" type="video/mp4" />
    </video>
</div>

<div id="viv-link" class="vivint-smarthome  row viv-help-container" style="padding-bottom: 25px;">
    <div class="vivint-smarthome col-xs-6" style="text-align: center;"><a href="~/Home/Contact"><i class="fas fa-phone fa-3x iconHover" style="color: black;"></i><br />Contact Us</a></div>
    <div class="vivint-smarthome col-xs-6" style="text-align: center"><a href="~/Home/FAQ"><i class="fas fa-question fa-3x iconHover" style="color: black;"></i><br />FAQ</a></div>
</div>