<div class="vivint-smarthome navbar navbar-inverse navbar-fixed-top">
    <div class="vivint-smarthome navbar-nav">
        <a id="vivintLogo" style="text-align:center" href="/"><img src="../../../../assets/images/vivint-logo-orange.png" id="vivintImage" style="padding: 20px; margin-left: 270px;" /></a>
        <h4 id="videoH4">
            <i id="videoIcon" class="glyphicon glyphicon-film"></i>
            <a href="" id="videlink" style="color: #333; font-weight: bold;">How Your Buy Out Works</a>
        </h4>
    </div>
</div>
