<form id="formT">
    <div>
        <div>
            <label for="first">First: </label>
            <input type="text" value="" name="first" id="first">
        </div>
        <div>
            <label for="second">Second: </label>
            <input type="text" value="" name="second" id="second">
        </div>
        <div>
            <label for="third">Third: </label>
            <input type="text" value="" name="third" id="third">
        </div>
        <div>
            <label for="dish-input">Dish: </label>
            <input id="dish-input" type="text" value="dish" name="dish">
        </div>
        <div>
            <label for="Last">Last: </label>
            <input type="text" value="" name="Last" id="Last">
        </div>
    </div>
    <button (click)=submitForm($event) type="submit">Submit</button>
</form>
