<div style="padding-top: 50px;" class={{company}}>

<!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio tenetur mollitia, 
    consequuntur expedita iusto atque voluptate aliquam animi porro voluptatem ipsa necessitatibus rerum. 
    Alias repellendus consequuntur consequatur quo suscipit amet.</p> -->

<div #searchForm></div>

<!-- <p> Account Details</p> -->

<div #infoDisplay></div>

<!-- <p id="test">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Doloremque tenetur id possimus, rem, qui ipsum labore magni deserunt repellat eos pariatur perspiciatis 
    autem molestiae debitis neque? Laborum officia beatae laudantium?</p> -->

</div>