<div class="row">
    <div class="col-md-6 form-horizontal" style="padding-top: 25px; padding-bottom: 20px;">
        <h4 class="center text-danger" id="actNotFound">{{message}}</h4><br />
        <div class="form-group">
            <label class="control-label col-md-4" for="AccountNumber">Account Number:</label>
            <input type="text" class="form-control col-md-8 {{company}}">
            <br />
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="First">First Name:</label>
            <input type="text" class="form-control col-md-8 {{company}}">
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="Last">Last Name:</label>
            <input type="text" class="form-control col-md-8 {{company}}">
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="PhoneNumber">Phone:</label>
            <input type="text" class="form-control col-md-8 {{company}}">
        </div>        
    </div>
    <div class="col-md-6">
        <div class="form-group" style="padding: 10px">
            <button id="search" type="submit" class="button linkColor" style="margin-top: 20px;" (click)=testFunc()><i class="glyphicon glyphicon-search"></i> Search</button>
        </div>
        <div style="font-weight: bold;font-size: larger">You must meet at least one of the minimum <br/>character requirements to search!</div>
    </div>
    <div class="col-md-2" style="display: none;">
        <h3 style="margin-left: 15px;" id="program">Expired Stamp</h3>
        <div id="expiredStamp" style="display:none">
            <img src="~/Content/Images/expiredStamp.png" class="cancelStamp" />
        </div>
    </div>
    <div class="col-md-2" style="display: none;">
        <h3 style="margin-left: 15px;" id="program">Approved Stamp</h3>
        <div id="approvedStamp" style="display: none;">
            <img src="~/Content/Images/approvedStamp.jpg" class="cancelStamp" />
        </div>
    </div>
    <div class="col-md-2" style="display: none;">
        
        <h3 style="margin-left: 15px;" id="program">Shipped Stamp</h3>
        <div id="shippedStamp" style="display:none">
            <img src="~/Content/Images/shippedStamp.png" class="cancelStamp" />
        </div>
    </div>
    <div class="col-md-2" style="display: none;">
        <h3 style="margin-left: 15px;" id="program">Cancelled Stamp</h3>
        <div id="cancelStamp" style="display:none">
            <img src="~/Content/Images/stampCancelled.png" class="cancelStamp" style="text-align: right" />
        </div>
    </div>
</div>

<div *ngIf=showCustomer>
<h2>Customer Information</h2>
    <input id="custId" data-val="true" data-val-number="The field CustomerID must be a number." 
    data-val-required="The CustomerID field is required." 
    name="CustomerID" type="hidden" value=""
    >
    <input id="installDate" data-val="true" data-val-date="The field Install Date must be a date." 
    data-val-required="The Install Date field is required." 
    name="InstallDate" type="hidden" value="1/1/0001 12:00:00 AM">
    <input id="createDate" data-val="true" data-val-date="The field Created Date must be a date." 
    data-val-required="The Created Date field is required." 
    name="CreatedDate" type="hidden" value="5/7/2021 2:44:32 PM">
    <input id="country" name="Country" type="hidden" value="US">
    <input id="user" name="User" type="hidden" value="">
    <input type="hidden" value="" id="clmId" />
    <input type="hidden" value="" id="claimCode" />
    <input type="hidden" value="" id="fileId" />
    
    <div class="info-border">
        <div class="row">
            <div class="col-xs-12" style="padding-bottom: 50px; padding-top: 50px;">
                <div class="form-group col-md-3 col-sm-6">
                    <label class="control-label" for="FirstName">First Name</label>
                    <input class="lock form-control text-box single-line" disabled="disabled" id="FirstName" name="FirstName" type="text" value="">
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label" for="LastName">Last Name</label>
                    <input class="lock form-control text-box single-line" disabled="disabled" id="LastName" name="LastName" type="text" value="">
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label class="control-label" for="Email">Email Address</label>
                    <input class="lock form-control text-box single-line" id="Email" name="Email" type="text" value="">
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label" for="Phone">Phone Number</label>
                    <input class="lock form-control text-box single-line" id="Phone" name="Phone" type="text" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom: 50px">
                <div class="form-group col-md-3 col-sm-6">
                    <label class="control-label" for="Address1">Address</label>
                    <input class="lock form-control text-box single-line" id="Address1" name="Address1" type="text" value="">
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label" for="City">City</label>
                    <input class="lock form-control text-box single-line" id="City" name="City" type="text" value="">
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label class="control-label" for="State">State</label>
                    <input class="lock form-control text-box single-line" id="State" name="State" type="text" value="">
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label" for="Zip">Zip</label>
                    <input class="lock form-control text-box single-line" id="Zip" name="Zip" type="text" value="">
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12" style="padding-top: 10px; padding-bottom: 50px;">
                <div class="form-group col-md-2 col-sm-4">
                    <button id="updateCust" class="btn btn-success" onclick="UpdateCustomerRecord()">Update Customer</button>
                </div>
                <div class="form-group col-md-2 col-sm-4">
                    <button id="email" class="btn btn-info" onclick="sendGrid()">Re-Send Email</button>
                </div>
                <div class="form-group col-md-2 col-sm-4">
                    <button id="cancelClaim" class="btn btn-danger" onclick="CancelClaim()">Cancel Claim</button>
                </div>
                
                <div class="form-group col-md-2 col-sm-4">
                    <button id="sendEscalate" class="btn btn-danger" disabled onclick="addClaimException()">Escalate Claim</button>
                </div>                
                <div class="form-group col-md-2 col-sm-4">
                    <button id="sendExtension" class="btn btn-danger" 
                            disabled
                            onclick="addClaimExtension()">Extend Expiration</button>
                </div>
                <!-- @foreach (var pdf in Model.Claim) {

                    if (pdf.ClaimPdfStorage != null) {
                        <div class="form-group col-md-2 col-sm-4">
                            <a class="btn btn-info" id="viewDocs" target="_blank" href="@pdf.ClaimPdfStorage.CertDirectory">View Documents</a>
                        </div>
                    }
                    else {
                        <div class="form-group col-md-2 col-sm-4">
                            @Html.Raw("No Documents")
                        </div>
                    }

                } -->
            </div>
        </div>
    </div>
    
    <hr />
    <h2>Claim Information</h2>
    <!-- foreach (var claim in Model.Claim) { -->
        <div class="info-border table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Provider</th>
                        <th>Account Number</th>
                        <th>Coorespondence Sent</th>
                        <th>Status</th>
                        <th>Est. Ship Date</th>
                        <th>Card Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@claim.Card</td>
                        <td>@claim.AccountNo</td>
                        <td>@claim.CreatedDate.ToShortDateString()</td>
                        <td>@claim.ClaimStatus.OrderByDescending(cs => cs.TimeStamp).First().ClaimStatusCode.Status</td>
                        <td id="dtDelivery"></td>
                        <td>@claim.Amount.ToString("C")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <hr />
        <h2>Notes</h2>
        <div class="info-border">
            <div class="row" style="padding-left: 50px;">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="txtNotes">Note:</label>
                        <textarea id="txtNotes" rows="5" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-success" id="addNote" onclick="addClaimNote()">Add Note</button>
                </div>

                <div class="col-md-8" style="padding-bottom: 15px; padding-top: 15px;">
                    <table class="table table-condensed table-striped" style="display: none;" id="notesTable">
                        <thead>
                            <tr>
                                <th style="width: 30%">Note Date</th>
                                <th style="width: 50%">Note</th>
                                <th>User</th>
                            </tr>                            
                        </thead>
                        <tbody>
                            <!-- Content is loaded dynamically from GetNotes() -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <hr />
        <h2>Requirements</h2>
        <div class="info-border">
            <div class="row">
                <div class="col-xs-12" style="padding-left:50px;">
                    <!-- @foreach (var requirement in claim.Plan.PlanRequirements) {
                    <div class="form-group">
                        <label class="checkbox-inline lab-bold col-xs-12 col-sm-5 col-md-3" for='req_@requirement.RequirementId'>
                            <input title='RequirementId' class='req' type='checkbox'
                                   @(requirement.RequiresClientValidation && User.IsInRole("AdtManager") ? "" : "disabled")
                                   id='req_@requirement.RequirementId' />
                            @requirement.Requirement.RequirementDescription
                        </label>                        
                        <span class="text-danger" id='dt_@requirement.RequirementId'></span>
                        <br class="visible-sm visible-md visible-lg" />
                    </div>
                    } -->

                    <!-- @if (claim.Plan.PlanRequirements.Any(pr => pr.RequiresClientValidation) && User.IsInRole("AdtManager")) {
                        <div>
                            <button id="updateRequirementsButton" class="btn btn-danger" onclick="updateClaimRequirements(@claim.ClaimId)">Update Requirements</button>
                        </div>
                    } -->
                </div>
            </div>
        </div>
        
        <hr />
        <h2>Status History</h2>
        <div class="info-border table-responsive">
            <table id="statusTable" class="table table-striped" style="padding-bottom: 15px;">
                <thead>
                    <tr>
                        <th>Status Date</th>                        
                        <th>Status</th>
                        <th>Claim Code</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Content is loaded dynamically from GetClaimStatus() -->
                </tbody>
            </table>
        </div>
        
        <hr />
        <h2>Mail / Email History</h2>
        <!-- if (claim.ClaimCorrespondences != null && claim.ClaimCorrespondences.Count() > 0) {
            <div class="col-xs-12 info-border" style="padding-bottom: 15px; padding-left: 15px;">
                @if (claim.ClaimCorrespondences.Any(cc => cc.CommunicationChannelId == 1 && cc.CorrespondenceTypeId == 2)) // Claim Form sent via Mail
                {
                    <div class="row">                        
                        <div class="col-xs-12">
                            <h3>Mail Events</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Mail Date</th>
                                        <th>Mail Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var mailCorrespondence in claim.ClaimCorrespondences.Where(cc => cc.CommunicationChannelId == 1 && cc.CorrespondenceTypeId == 2)) {
                                    <tr>                                        
                                        <td class="col-md-3">@mailCorrespondence.TimeStamp.ToString("MM/dd/yyyy")</td>
                                        <td class="col-md-3">Claim Form</td>                                        
                                    </tr>
                                    }
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                }

                @if (claim.MailgunEvents.Count > 0) {
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Email Events</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Email Date</th>
                                        <th>Email Address</th>
                                        <th>Event</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var mail in claim.MailgunEvents) {                                                                        
                                        <tr>
                                            <td>@($"{mail.DateSent:MM/dd/yyyy}")</td>
                                            <td>@mail.Recipient</td>
                                            <td>@mail.Event</td>
                                        </tr>                                    
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        }       
        else {

            <p>Can not locate customer</p>
        }
    } -->

}
</div>